* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/imgFundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 5px;
}

h1 {
  margin: 2rem 0;
  color: #2e2e30;
}

.placar {
  display: flex;
  padding: 1rem;
 
}

.player-x,
.player-o {
  margin: 0 10px;
  font-weight: bold;
}

.p-x,
.p-o {
  margin: 0 7px;
  font-weight: 700;
  color: #242425;
}

.player-x {
  color: #a30000;
}
.player-o {
  color: #0505aa;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 3rem 0;
}

.item {
  width: 100px;
  height: 100px;
  cursor: pointer;
  opacity: 0.7;
}

.item:hover {
  opacity: 1;
}

.item.b {
  border-bottom: 3px solid rgb(71, 68, 68);
}
.item.r {
  border-right: 3px solid rgb(48, 46, 46);
}

.info {
  
  padding: 0.3rem;
  border-radius: 10px;
  font-weight: 700;
  color: #002944a6;
  background: linear-gradient(rgba(197, 197, 197, 0.5),rgba(228, 228, 228, 0.295)100%) ;
 
}

.infoItem {
  margin: .3rem  .6rem ;
  display: flex;
  align-items: center;
}

.vez,.empate{
  margin: 0 10px;

}
